header{
    display: flex;
    background-color: #E8E8E8;
}

.Logo a img{
    display: inline-block;
    justify-items: center;
    height: 75px;
    margin-left: 30px;
}

.container-nav-menu{
    display: flex;
    width: 100%;
    justify-items: right;
    flex-direction: row-reverse;
    align-items: center;
}

.nav-menu{
    margin: 15px;
    justify-items: center;
}

.nav-menu ul{
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    justify-items: right;
    flex-direction: row;
    align-items: center;
}

.nav-menu ul li{
    display: inline-block;
}

.nav-menu ul li a{
    padding: 5px;
}