header{
    display: flex;
    background-color: #00000044;
    position: fixed;
    width: 100%;
    top: 0%;
    left: 0%;
    justify-content: space-between;
    align-items: center;
}

.title{
    font-size: 40px;
}

.Logo{
    display: flex;
    align-items: center;
}

.Logo img{
    display: inline-block;
    justify-items: center;
    height: 75px;   
    margin-left: 30px;
}

.container-nav-menu{
    display: flex;
    justify-items: right;
    flex-direction: row-reverse;
    align-items: center;
}

.nav-menu{
    margin: 15px;
    justify-items: center;
}

.nav-menu ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-items: right;
    flex-direction: row;
    align-items: center;
}

.nav-menu ul li{
    display: inline-block;
    margin: 5px;
}