html{
    min-height: 100%;
    width: 100%;
}

body{
    position: absolute;
    min-height: 100%;
    width: 100%;
    margin: 0;
    background-color: #BBBFCA;
}

main{
    display: flex;
    margin: 10px;
    padding: 5px;
}

.main-content{
    display: flex;
    flex-direction: column;
}

.introduction{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services-provided{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services-provided img{
    height: 100px;
}

.services-provided p{
    width: 70%;
}