/*Variables*/
:root {
    --mTop: 5%;
    --mLeft: 50%;
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

h1, h2, h3, h4, p, a, input, textarea, ul, a{

    margin: 0%;
    padding: 0%;

}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0 auto;
}

main{    
    width: 100%;
    height: 95%;

    /*Ajuste de posicion*/
    position: absolute;
    top: var(--mTop);
    left: var(--mLeft);
    transform: translate(calc(var(--mLeft)*(-1)));

    background-image: linear-gradient(#000000, rgb(15, 0, 49),rgb(14, 0, 77));
}
